<section style="margin-top: 12%" class="">
	<div class="row">
	    <div class="col-sm-12 text-center">
	        <h3><strong>PERSYARATAN & KETENTUAN</strong></h3>
	        <h3><strong>KEAGENAN</strong></h3>
	        <h3><strong>SHP CARGO</strong></h3>
	        
	    </div>
	    
	</div>
</section>
<section class="">
	<h3>
		<strong>
			<div class="row">
			    <div class="col-sm-5 col-sm-offset-1 text-center">
			        <table class="table table-bordered">
			        	<tr>
			        		<td><h2><strong>AGEN</strong></h2></td>
			        	</tr>
			        	<tr>
			        		<td>TARGET (OMZET/BULAN)</td>
			        	</tr>
			        	<tr>
			        		<td>50,000,000,-</td>
			        	</tr>
			        	<tr>
			        		<td>DISCOUNT</td>
			        	</tr>
			        	<tr>
			        		<td>30%</td>
			        	</tr>
			        	<tr>
			        		<td>CASHBACK</td>
			        	</tr>
			        	<tr>
			        		<td>20%</td>
			        	</tr>
			        </table>
			        
			    </div>

			    <div class="col-sm-5 text-center">
			        <table class="table table-bordered">
			        	<tr>
			        		<td><h2><strong>SUB AGEN</strong></h2></td>
			        	</tr>
			        	<tr>
			        		<td>TARGET (OMZET/BULAN)</td>
			        	</tr>
			        	<tr>
			        		<td>10,000,000,-</td>
			        	</tr>
			        	<tr>
			        		<td>DISCOUNT</td>
			        	</tr>
			        	<tr>
			        		<td>25%</td>
			        	</tr>
			        	<tr>
			        		<td>CASHBACK</td>
			        	</tr>
			        	<tr>
			        		<td>10%</td>
			        	</tr>
			        </table>
			        
			    </div>
			</div>
		</strong>
	</h3>
</section>
<section style="margin-top: 1%" class="">
	<div class="row">
	    <div class="col-sm-10 col-sm-offset-1 text-center">
	    	<div class="navy-line"></div>
	        <h3><strong>PERSYARATAN UMUM</strong></h3>
	        <h5><strong>AGEN/ SUB AGEN HARUS MEMILIKI LOKASI & TEMPAT USAHA YANG REPRESENTATIVE (DIUTAMAKAN YANG MEMILIKI BADAN USAHA)</strong></h5>
	        <h5><strong>LOKASI & TEMPAT USAHA HARUS BERADA DI JALAN UMUM YANG STRATEGIS DAN DAPAT DILALUI KENDARAAN RODA 2 & RODA 4</strong></h5>
	        <h5><strong>DIUTAMAKAN YANG TELAH MEMILIKI PENGALAMAN DAN USAHA YANG SEJENIS DENGAN PT. SHP CARGO</strong></h5>
	        <h5><strong>TEMPAT USAHA HARUS MEMILIKI SARANA : KOMUNIKASI (HP & INTERNET) ; TRANSPORTASI (RODA 2/ RODA 4) ; PENJUALAN (TIMBANGAN, NCR 1/2 A4, PRINTER LX)</strong></h5>
	        <h5><strong>KHUSUS AGEN HARUS MEMILIKI PEGAWAI ADMINISTRASI & OPERASIONAL SERTA SARANA TRANSPORTASI RODA 4 (PICK UP/ BOX)</strong></h5>
	        
	        
	    </div>
	    
	</div>
</section>
<section style="margin-top: 1%" class="">
	<div class="row">
	    <div class="col-sm-10 col-sm-offset-1 text-center">
	    	<div class="navy-line"></div>
	        <h3><strong>KETENTUAN UMUM</strong></h3>
	        <h5><strong>BERLAKU UNTUK AGEN/ SUB AGEN PT. SHP CARGO</strong></h5>
	        <h5><strong>BERSEDIA DAN SANGGUP MEMATUHI PERATURAN DAN MENANDATANGANI PERJANJIAN KEAGENAN PT. SHP CARGO</strong></h5>
	        <h5><strong>BERLAKU UNTUK SEMUA JENIS SERVICE YANG DILAYANI OLEH PT. SHP CARGO</strong></h5>
	        <h5><strong>BERLAKU METODE TRANSAKSI PEMBAYARAN TUNAI DI PT. SHP CARGO</strong></h5>
	        <h5><strong>HARI & JAM KERJA (PICK UP SERVICE) PT. SHP CARGO : SENIN – JUMA’T / JAM 08.30 WIB – 17.00 WIB ; SABTU / JAM 08.30 WIB — 13.00 WIB : MINGGU/ HARI BESAR – LIBUR</strong></h5>
	        <h5><strong>LAST PICK UP ORDER (CALL) : SENIN – JUM’AT/ JAM 14.00 WIB ; SABTU / JAM 12.00 WIB</strong></h5>
	        <h5><strong>BERLAKU UNTUK PERIODE PENJUALAN 1 (SATU) BULAN DAN TIDAK BERLAKU KUMULATIF</strong></h5>
	        <h5><strong>TARGET PERIODE PENJUALAN YAITU SETIAP TGL 1 S/D AKHIR BULAN (MISAL 1 – 31 APRIL 2018)</strong></h5>
	        <h5><strong>DISCOUNT DIPOTONG LANGSUNG PADA SAAT TRANSAKSI DENGAN SYSTEM PT. SHP CARGO</strong></h5>
	        <h5><strong>CASHBACK PENJUALAN DIBERIKAN SETIAP TGL 10 PADA BULAN BERIKUTNYA (JIKA MEMENUHI TARGET PENJUALAN MIN RP. 50,000,000,-/BULAN )</strong></h5>
	        <h5><strong>MASA EVALUSI DILAKUKAN SETIAP BULAN APABILA SELAMA 3 (TIGA) BULAN BERTURUT-TURUT AGEN TIDAK MENCAPAI TARGET OMZET SANKSINYA ADALAH SBB :</strong></h5>
	        <h5><strong>SUB AGEN AKAN DIPUTUS KERJASAMA SECARA SEPIHAK OLEH PT. SHP CARGO</strong></h5>
	        <h5><strong>AGEN AKAN DITURUNKAN TIPENYA MENJADI SUB AGEN OLEH PT. SHP CARGO</strong></h5>
	        <h5><strong>KETENTUAN INI DIBERLAKUKAN SEJAK 01 APRIL 2018</strong></h5>
	    </div>
	    
	</div>
</section>
<section style="margin-top: 1%" class="">
	<div class="row">
	    <div class="col-sm-10 col-sm-offset-1 text-center">
	    	<div class="navy-line"></div>
	        <h3><strong>KETENTUAN KHUSUS SUB-AGEN</strong></h3>
	        <h5><strong>SUB AGEN</strong></h5>
	        <h5><strong>SUB AGEN BERADA DI BAWAH KOORDINASI LANGSUNG CABANG/ AGEN YANG DITUNJUK OLEH PT. SHP CARGO</strong></h5>
	        <h5><strong>SUB AGEN HANYA MELAKUKAN TRANSAKSI PENJUALAN DENGAN CUSTOMER DI LOKASI SUB AGEN BERADA DENGAN SHP CARGO SYSTEM</strong></h5>
	        <h5><strong>SUB AGEN TIDAK DIWAJIBKAN UNTUK MELAKUKAN PENJEMPUTAN BARANG (PICK UP) DI ALAMAT CUSTOMER (JIKA BISA, DIPERSILAHKAN)</strong></h5>
	        <h5><strong>BARANG MILIK CUSTOMER AKAN DI PICK UP OLEH AGEN DI KANTOR SUB AGEN TERSEBUT BERADA</strong></h5>
	        <h5><strong>PEMBAYARAN ATAS TRANSAKSI CUSTOMER SUB AGEN LANGSUNG DITRANSFER KE REKENING BCA YANG DIBERIKAN PT. SHP CARGO</strong></h5>
	        
	    </div>
	    
	</div>
</section>
<section style="margin-top: 1%" class="">
	<div class="row">
	    <div class="col-sm-10 col-sm-offset-1 text-center">
	    	<div class="navy-line"></div>
	        <h3><strong>KETENTUAN KHUSUS AGEN</strong></h3>
	        <h5><strong>AGEN</strong></h5>
	        <h5><strong>AGEN BERADA DI BAWAH KOORDINASI LANGSUNG CABANG PT. SHP CARGO</strong></h5>
	        <h5><strong>AGEN HANYA MELAKUKAN TRANSAKSI PENJUALAN DENGAN CUSTOMER DI LOKASI AGEN BERADA DENGAN SHP CARGO SYSTEM</strong></h5>
	        <h5><strong>AGEN DIWAJIBKAN UNTUK MELAKUKAN PENJEMPUTAN BARANG (PICK UP) DI ALAMAT CUSTOMER AGEN & DI ALAMAT SUB AGEN BERADA</strong></h5>
	        <h5><strong>BARANG MILIK AGEN DAN MILIK SUB AGEN SECARA BERSAMA-SAMA HARUS DISERAHKAN OLEH AGEN KE CABANG PT. SHP CARGO</strong></h5>
	        <h5><strong>BARANG TERSEBUT DISERAHKAN MELALUI VENDOR YANG DIPILIH/ DITUNJUK LANGSUNG OLEH AGEN/ CABANG PT. SHP ATAS BIAYA AGEN</strong></h5>
	        <h5><strong>PEMBAYARAN ATAS TRANSAKSI CUSTOMER AGEN LANGSUNG DITRANSFER KE REKENING BCA YANG DIBERIKAN PT. SHP CARGO</strong></h5>
	        <h5><strong>AGEN TIDAK DIPERKENANKAN UNTUK MENERIMA PEMBAYARAN ATAS TRANSAKSI SUB AGEN</strong></h5>
	        
	    </div>
	    
	</div>
</section>
<section style="margin-top: 1%" class="">
	<div class="row">
	    <div class="col-sm-10 col-sm-offset-1 text-center">
	    	<div class="navy-line"></div>
	        <h3><strong>BENEFIT</strong></h3>
	        <h5><strong>PERSYARATAN MUDAH, FREE BIAYA ADMINISTRASI, TANPA DEPOSIT (SELAMA PROMO), DISCOUNT/CASHBACK BESAR, ONLINE SYSTEM, ONLINE WEBTRACK</strong></h5>
	        
	        
	    </div>
	    
	</div>
</section>
<section style="margin-top: 1%" class="">
	<div class="row">
	    <div class="col-sm-10 col-sm-offset-1 text-center">
	    	<div class="navy-line"></div>
	        <h3><strong>FASILITAS</strong></h3>
	        <h5><strong>FREE ONLINE SYSTEM, PRICELIST, KARTU NAMA, SPANDUK, STIKER (SUB AGEN) + BANNER, NEON BOX (AGEN)</strong></h5>
	        
	        
	    </div>
	    
	</div>
</section>
<section style="margin-top: 1%" class="">
	<div class="row">
	    <div class="col-sm-10 col-sm-offset-1 text-center">
	    	<div class="navy-line"></div>
	        <h3><strong>CONTACT</strong></h3>
	        <h5><strong>HEAD OFFICE of SHP CARGO, JL GRESIK NO.4 SURABAYA HOTLINE SERVICE : 0822 1934 7000 – 0822 1934 8000 E-mail : shp.pusat@yahoo.com</strong></h5>
	        
	        
	    </div>
	    
	</div>
</section>