<section class="container services">
	<div class="row">
	    <div class="col-sm-12">
	        <h1><strong>OVER VIEW</strong></h1>
	        
	    </div>
	    <div class="col-sm-12">
	    	<h4>Senapati Handal Perkasa (SHP CARGO) adalah perusahaan nasional yang bergerak di bidang jasa transportasi & pengiriman barang ke seluruh wilayah Indonesia melalui jalur darat, laut & udara.</h4>
	        <h4>Senapati Handal Perkasa berkomitmen untuk memberikan layanan optimal & terbaik dengan ditopang oleh sumber daya yang handal & profesional serta selalu berinovasi dengan support technology terbaru dalam jasa transportasi & pengiriman barang untuk menjaga kepuasan pelanggan secara cepat, aman, dan tepat waktu.</h4>
	    </div>
	</div>
</section>
<section class="timeline gray-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>VISI DAN MISI PERUSAHAAN</h1>
            </div>
        </div>
        <div class="row features-block">

            <div class="col-lg-12">
                <div id="vertical-timeline" class="vertical-container light-timeline center-orientation">
                    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon navy-bg">
                            <i class="fa fa-truck"></i>
                        </div>

                        <div class="vertical-timeline-content">
                            <h2>Vision</h2>
                            <p>Menjadi perusahaan profesional berkelas dunia dengan support technologi tingggi dibidang transportasi.
                            </p>
                            
                            <span class="vertical-date">Vision<br/> <small>SHP Cargo</small> </span>
                        </div>
                    </div>

                    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon navy-bg">
                            <i class="fa fa-truck"></i>
                        </div>

                        <div class="vertical-timeline-content">
                            <h2>Mission</h2>
                            <p>Selalu memberikan kepuasan pelanggan secara cepat, aman, dan tepat waktu</p>
                            <p>Nilai Dasar <br/> Jujur, Komitmen, Handal, Terpercaya</p>
                            <p>Motto <br/> 6S (Senyum, Salam, Sapa, Santun, Sedekah, Silaturahmi)</p>
                            <span class="vertical-date">Mission<br/> <small>SHP Cargo</small> </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>

<section class="container services">
	<div class="row">
	    <div class="col-sm-12 text-center">
	    	<h4>Legalitas Perusahaan</h4>
	        <h2><strong>Data Legalitas SHP CARGO</strong></h2>
	        
	    </div>
	    <div class="col-sm-6 col-sm-offset-3">
	    	<table class="table table-striped">
                <tr>
                    <td>Nama Perusahaan</td>
                    <td>:</td>
                    <td>PT. Senapati Handal Perkasa</td>
                </tr>
                <tr>
                    <td>Notaris</td>
                    <td>:</td>
                    <td>Agus Hariyanto, SH., MH.</td>
                </tr>
                <tr>
                    <td>No Akta</td>
                    <td>:</td>
                    <td>9</td>
                </tr>
                <tr>
                    <td>Tempat</td>
                    <td>:</td>
                    <td>Surabaya</td>
                </tr>
                <tr>
                    <td>Tanggal</td>
                    <td>:</td>
                    <td>18-Mei-16</td>
                </tr>
                <tr>
                    <td>SK MENKUMHAM</td>
                    <td>:</td>
                    <td>No.AHU-0062298.AH.01.11 tdn 2016</td>
                </tr>
                <tr>
                    <td>Tanggal</td>
                    <td>:</td>
                    <td> 20 Mei 2016</td>
                </tr>
                <tr>
                    <td>NPWP</td>
                    <td>:</td>
                    <td>76.201.998.2-605.000</td>
                </tr>
                <tr>
                    <td>KLU Utama</td>
                    <td>:</td>
                    <td>52291-Jasa Pengurusan Transportasi</td>
                </tr>
                <tr>
                    <td>TDP</td>
                    <td>:</td>
                    <td>13.01.1.52.33269</td>
                </tr>
                <tr>
                    <td>SIUP JPT</td>
                    <td>:</td>
                    <td>No.P2T/57/06.35.VII/2016</td>
                </tr>
                
            </table>
	    </div>
	</div>
</section>