    <section class="gray-section contact">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-4 col-md-4 text-center wow fadeInLeft">
                    <div class="navy-line"></div>
                    <div>
                        <h2>Head Office</h2>
                        <i class="fa fa-user features-icon"></i>

                        <br/>

                        <p style="color:black">Surabaya</p>
                        <p style="color:black">Ruko SHP CARGO, Jl. Gresik No.4 Lt.1 Surabaya </p>
                        <p style="color:black">Tlp/Fax : (031) 9902 1575 -0822 1934 7000 </p>
                        <p style="color:black">CS : 0822 1934 8000 </p>
                        <p style="color:black">E-mail : sub@shpcargo.com / ho@shpcargo.com </p>
                    </div>
                </div>
            </div>
            <br/>
            <br/>
            
            <div style="margin-bottom: 5%" class="col-md-12 text-center wow fadeInLeft">
                    <h2>Branch Office</h2>
            </div>
            <div class="row">
                <div class="col-md-4 wow fadeInLeft">
                    <div class="row">
                        <div class="col-md-2">
                            <i class="fa fa-group features-icon"></i>
                        </div>
                        <div class="col-md-10">
                            <p style="color:black">Jakarta</p>
                            <p style="color:black">Jl. Basuki Rahmat No.7, Kp. Melayu, Jakarta Timur</p>
                            <p style="color:black">Tlp/Fax : (021) 2289 0384 – 0813 250 99997 </p>
                            <p style="color:black">CS : 0813 250 99998 </p>
                            <p style="color:black">E-mail : jkt@shpcargo.com </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInLeft">
                    <div class="row">
                        <div class="col-md-2">
                            <i class="fa fa-group features-icon"></i>
                        </div>
                        <div class="col-md-10">
                            <p style="color:black">Bandung</p>
                            <p style="color:black">Jl. Cileutik No.12-A, Buah Batu, Bandung</p>
                            <p style="color:black">Tlp/HP : 0853 3638 8055 </p>
                            <p style="color:black">CS : 0822 3000 5252 </p>
                            <p style="color:black">Email: bdo@shpcargo.com </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInLeft">
                    <div class="row">
                        <div class="col-md-2">
                            <i class="fa fa-group features-icon"></i>
                        </div>
                        <div class="col-md-10">
                            <p style="color:black">Semarang</p>
                            <p style="color:black">Villa Esperanza Calista 18 Ngaliyan, Semarang</p>
                            <p style="color:black">Tlp/Fax : (024) 766 33 726 – 0823 2410 2030</p>
                            <p style="color:black">CS : 0813 2628 8800</p>
                            <p style="color:black">Email: srg@shpcargo.com </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <a href="mailto:test@email.com" class="btn btn-primary">Send us mail</a>
                    <p class="m-t-sm">
                        Or follow us on social platform
                    </p>
                    <ul class="list-inline social-icon">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
             
        </div>
    </section>