<section class="" style="margin-top: 15%">
    <div class="container"> 
        <div class="row">
            <div class="col-md-1">
                <i class="fa fa-truck features-icon"></i>
            </div>
            <div class="col-md-11">
                <p style="color:black"><strong> Check / hitung estimasi harga pengiriman anda</strong></p>
                <p style="color:black">Kami menyediakan tool untuk mengkalkulasi biaya pengiriman anda berdasar pada Publish Rate / Harga Standart kami. </p>
                <p style="color:black">Untuk info lebih lanjut bisa menguhungi Customer Service kami</p>
            </div>
                
        </div>
    </div>
    <div class="container" style="margin-top: 3%"> 
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <select data-placeholder="Choose a Country..." class="chosen-select chosen-select1"  tabindex="2" id="chosen_type_destination">
                        <option value="">Destination</option>
                    </select>
                </div>
                <div class="form-group">
                    <select data-placeholder="Choose a Country..." class="chosen-select chosen-select2"  tabindex="2" id="chosen_city">
                        <option value="">City</option>
                    </select>
                </div>
                <div class="form-group">
                    <select data-placeholder="Choose a Country..." class="chosen-select chosen-select3"  tabindex="2" id="chosen_type_shipment">
                        <option value="">Type Shipment</option>
                        <option value="United States">REGULAR</option>
                        <option value="United States">EXPRESS</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="number" style="height: 40px" id="data_awb" class="form-control" placeholder="In Kilograms (KG)">
                </div>
                <div class="form-group">
                    <span class="input-group-btn">
                        <button type="button" onclick="check_price()" style="width: 100%" class="btn btn-primary">Check Price</button>
                    </span>
                </div>

            </div>
            <div id="div_price" class="col-md-8 text-center" style="display: none">
                <h1 style="font-size: 80px"><strong>Rp 10.000.000</strong></h1>
            </div>
                
        </div>
    </div>
</section>
<script src="assets/js/plugins/chosen/chosen.jquery.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $.ajax({
            url: "http://software-ekspedisi.com/tes_json/index.php/welcome/destination",
            dataType:'json',
            success: function(result){
                jQuery.each( result['data'], function( i, val ) {
                    $(".chosen-select1").append('<option value="'+val['id_destination']+'">'+val['destination']+'</option>');
                });
                $('.chosen-select1').chosen({width: "100%"});
            }
        });

        $.ajax({
            url: "http://software-ekspedisi.com/tes_json/index.php/welcome/city",
            dataType:'json',
            success: function(result){
                console.log(result);
                jQuery.each( result['data'], function( i, val ) {
                    $(".chosen-select2").append('<option value="'+val['id_city']+'">'+val['city']+'</option>');
                });
                $('.chosen-select2').chosen({width: "100%"});   
                // $("#chosen_city").append(result['shipper_name']);
            }
        });

            
         
        $('.chosen-select3').chosen({width: "100%"});    
    });

    function check_price(){
        $('#div_price').removeAttr('style');
    }
    
</script>