<section class="gray-section" style="padding-bottom: 2%">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <div>
                    <h4>Service SHP CARGO</h4>
                    <h2>SERVICE</h2>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center fadeInLeft">
                <div>
                    <i class="fa fa-truck features-icon"></i>
                    <h2>Shp Ekonomi</h2>
                    

                    <br/>

                    <h4 style="color:black">Service SHP EKONOMI adalah layanan cepat transportasi via jalur darat & laut khususnya menggunakan armada trucking & kapal cargo/kapalcepat/kapal pelni dengan harga yang ekonomis dan waktu sampai yang relatif cepat & aman di tujuan</h4>
                    
                </div>
            </div>
            <div class="col-md-6 text-center fadeInLeft">
                <div>

                    <i class="fa fa-globe features-icon"></i>
                    <h2>Shp Express</h2>

                    <br/>

                    <h4 style="color:black">Service SHP EXPRESS adalah layanan prioritas transportasi via jalur darat & udara khususnya menggunakan armada kereta api & pesawat udara dengan harga kompetitif dan ketepatan waktu cepat sampai di tujuan.</h4>
                    
                </div>
            </div>
        </div>
        <br/><br/><br/>
        <div class="row">
            <div class="col-md-4 text-center fadeInLeft">
                <div>

                    <i class="fa fa-truck features-icon"></i>
                    <h2>Via Trucking atau Kereta</h2>

                </div>
            </div>
            <div class="col-md-4 text-center fadeInLeft">
                <div>

                    <i class="fa fa-bus features-icon"></i>
                    <h2>Menggunakan Kapal Laut</h2>

                    
                </div>
            </div>
            <div class="col-md-4 text-center fadeInLeft">
                <div>
                    <i class="fa fa-plane features-icon"></i>
                    <h2>Menggunakan Pesawat</h2>

                    
                </div>
            </div>
        </div>
    </div>
</section>