<section id="tracking" style="margin-top: 12%;">
    <div class="container" style="margin-bottom: 2%">
		<div class="form-group row">

		    <div class="col-lg-4 col-lg-offset-4 text-center ">
		        <div class="input-group">
		            <input type="text" style="height: 40px" id="data_awb" class="form-control">
		            <span class="input-group-btn">
		                <button type="button" onclick="search_awb()" style="height: 40px" class="btn btn-primary">Tracking</button>
		            </span>
		        </div>
		    </div>
		</div>
	</div>
	<div style="display: none" id="div_tracing" class="container">
		<div class="row">
            <div class="col-lg-12 text-center">
            	<h1>GENERAL INFORMATION</h1>
            </div>
            <div class="col-lg-10 col-lg-offset-1 text-center">
            	<table class="table table-bordered">
            		<thead>
                        <tr>
                            <th class="text-center">AWB No.</th>
                            <th class="text-center">Service (3 - 6)</th>
                            <th class="text-center">Date of Shipment</th>
                            <th class="text-center">Origin</th>
                            <th class="text-center">Destination</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td id="table_awb"></td>
                            <td id="table_service"></td>
                            <td id="table_date_shipment"></td>
                            <td id="origin"></td>
                            <td id="destination"></td>
                        </tr>
                    </tbody>
            	</table>
            </div>
            <div class="col-lg-10 col-lg-offset-1 text-center">
            	<table class="table table-bordered">
            		<thead>
                        <tr>
                            <th class="text-center">Shipper</th>
                            <th class="text-center">Consignee</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td id="table_shipper_name"></td>
                            <td id="table_shipper_address"></td>
                        </tr>
                        <tr>
                            <td id="table_consignee_name"></td>
                            <td id="table_consignee_address"></td>
                        </tr>
                    </tbody>
            	</table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
            	<h1>SHIPMENT STATUS</h1>
            </div>
            <div class="col-lg-10 col-lg-offset-1 text-center">
            	<table class="table table-bordered">
            		<thead>
                        <tr>
                            <th colspan="2">Outbound</th>
                        </tr>
                    </thead>
                    <tbody id="table_detail_shipment">
                        
                    </tbody>
            	</table>
            </div>
        </div>
	</div>
	<div id="div_not_found" style="display: none">
		<div class="row">
            <div class="col-lg-12 text-center">
            	<h1><strong>Not Found</strong></h1>
            </div>
        </div>
	</div>
	
</section>
<script type="text/javascript">


	 function search_awb(){
	 	$.ajax({
	 		url: "http://software-ekspedisi.com/tes_json/index.php/welcome/general_info",
	        type:'post',
	        dataType:'json',
	        data:{
	          'data_awb':$('#data_awb').val()
	        },
	        success: function(result){
	        	// console.log(result);
	        	if(result['status'] == "0"){
	        		$("#div_tracing").attr('style','display:none');
	        		$("#div_not_found").removeAttr('style');
	        	}else{
	        		$("#div_not_found").attr('style','display:none');
	        		$("#div_tracing").removeAttr('style');

	        		$("#table_awb").append(result['awb']);
	        		$("#table_service").append(result['service']);
	        		$("#table_date_shipment").append(result['date_shipment']);
	        		$("#origin").append(result['origin']);
	        		$("#destination").append(result['destination']);

					$("#table_shipper_name").append(result['shipper_name']);
					$("#table_shipper_address").append(result['shipper_address']);
					$("#table_consignee_name").append(result['consignee_name']);
					$("#table_consignee_address").append(result['consignee_address']);
					

					jQuery.each( result['data'], function( i, val ) {
						$("#table_detail_shipment").append('<tr><td>'+val['date']+'</td><td>'+val['action']+'</td></tr>');
					 
					});
						        		
	        	}
	        }
    	});
	 }

</script>